stages:
  - build
  - release

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  GIT_DEPTH: "0"

build_image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    
    - /kaniko/executor 
      --context "${CI_PROJECT_DIR}" 
      --dockerfile "${CI_PROJECT_DIR}/dockerfile" 
      --destination "${IMAGE_NAME}"
  rules:
    - if: $CI_COMMIT_TAG

create_release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Sürüm oluşturuluyor $CI_COMMIT_TAG"
  release:
    name: 'Release $CI_COMMIT_TAG'
    tag_name: '$CI_COMMIT_TAG'
    description: 'Otomatik derlenen Rust uygulaması. İmaj: $IMAGE_NAME'
  rules:
    - if: $CI_COMMIT_TAG